<div class="container-sm p-3" >
    <h1>Productos</h1>
    <div class="mb-5">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-5">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" name="price">
    </div>
    <div class="mb-5">
        <label for="thumbail" class="form-label">Thumbail</label>
        <input type="text" class="form-control" name="thumbail">
    </div>
    <div class="mb-5">
        <input type="button" class="btn btn-primary" value="Añadir producto" onclick="enviarMensaje()">
    </div>
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Thumbail</th>
                </tr>   
            </thead>
            <tbody>
                
            </tbody>
        </table>
</div>
